@import '../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../node_modules/codemirror/theme/ayu-mirage.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body{
  margin: 0;
  padding: 0;
  font-size: large;

  .react-codemirror2 {
    font-family: helvetica, arial, sans-serif;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  .CodeMirror{
    height: 100%;
  }
}
