@import '../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../node_modules/codemirror/theme/ayu-mirage.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  font-size: large;
  background: #212529;

  .firepad {
    font-family: helvetica, arial, sans-serif;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  .CodeMirror {
    height: 100%;
    padding-bottom: 50px;
  }

  .other-client span {
    position: absolute;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0 0 1px #000;
    opacity: 1;
    font-size: 12px;
    padding: 2px;
    margin-top: 15px;
    font-family: sans-serif;
    z-index: 4000;
  }

  .toast-bottom {
    position: absolute;
    z-index: 99;
    bottom: 50px;
    right: 25px;
  }

  .pulseit {
    -webkit-animation: pulse ease-in 2s infinite;
    animation: pulse ease-in 2s infinite;
  }

  @-webkit-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }

  @keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
}
