@import '../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../node_modules/codemirror/theme/ayu-mirage.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  font-size: large;
  background: #212529;

  .firepad {
    font-family: helvetica, arial, sans-serif;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  .CodeMirror {
    height: 100%;
    padding-bottom: 50px;
  }

  .other-client span {
    position: absolute;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0 0 1px #000;
    opacity: 1;
    font-size: 12px;
    padding: 2px;
    margin-top: 15px;
    font-family: sans-serif;
    z-index: 4000;
  }

  .history{
    .code-data {
      padding: 20px;
      color: #cbccc6;
      font-size: 16px;
    }

    .panel {
      position: absolute;
      left: 10%;
      bottom: 20px;
      width: 80%;
      height: 40px;

      .background {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fefefe;
        border-radius: 10px;

        .btns {
          padding: 10px;
          width: 10%;
          display: flex;
          justify-content: center;

          svg {
            padding-right: 7px;
            margin-right: 5px;
            opacity: 0.8;
          }

          svg:hover {
            color: #212529;
          }
        }

        .slider {
          height: 15%;
          width: 75%;
          position: relative;
          display: flex;

          .slider-background {
            height: 100%;
            width: 100%;
            background-color: #212529;
            position: absolute;
          }

          .slider-foreground {
            position: absolute;
            margin-top: -6px;
            height: 18px;
            width: 18px;
            border: 1px solid #212529;
            border-radius: 50%;
            background-color: red;
          }
        }

        .counter {
          width: 160px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          margin-left: 10px;
        }
      }
    }
  }

  .font-1-rem {
    font-size: 1rem;
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .session-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .toast-bottom {
    position: absolute;
    z-index: 99;
    bottom: 50px;
    right: 25px;
  }

  .pulseit {
    -webkit-animation: pulse ease-in 2s infinite;
    animation: pulse ease-in 2s infinite;
  }

  @-webkit-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }

  @keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
}
